<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="db" connectionString="Data Source=DELL\SQLEXPRESS01;Initial Catalog=QuanLyKhoHang;Integrated Security=True;Persist Security Info=False;Pooling=False;Multiple Active Result Sets=False;Encrypt=False;Trust Server Certificate=False;Command Timeout=0"/>
	</connectionStrings>
</configuration>